<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
      Export Submissions List
    </title>
</head>
<body>
<div style="margin-top: -8px; margin-right: -8px; margin-left: -8px; margin-bottom: 0; padding-top: 38px;
    padding-bottom: 38px; padding-left: 0; padding-right: 0; background-color: rgb(240, 242, 245);">
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#EDF0F3"
           style="height: 100px; table-layout: fixed; font-family: PingFangSC-Light,serif;">
        <tbody>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0"
                       style="max-width: 600px; margin: 0 auto;">
                    <tbody>
                    <tr>
                        <td align="center">
                            <h2 style="font-size: 30px; color: #3c4858; letter-spacing: 0; margin: 6px auto; padding-left: 5px;">
                              AT
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
                                   color: #273444;
                                   background: #FFF;
                                   border-radius: 4px;
                                   margin-top: 18px;">
                                <tbody>
                                <tr>
                                    <td colspan="4" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">
                                        <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td style="border-top-left-radius: 4px;border-top-right-radius: 4px;">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0"
                                                           style="width: 100%; background: #FFF;padding:40px;border-top-left-radius: 4px;border-top-right-radius: 4px;">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <div style="margin: 10px 0;font-size: 16px;">
                                                                  Hi, <%= locals.email %>:
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100%">
                                                                <div style="margin: 10px 0;font-size: 14px; line-height: 1.6;">
                                                                    Your Submissions List has finished exporting and is ready to download.The link below will expire in 10 minutes.
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span style="margin:10px 0;border-bottom:1px solid #E0E6ED;width: 150px;height: 0;display: inline-block;"></span>
                                                            </td>
                                                        </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <a href="<%= locals.export_submissions_url %>"
                                                                       style="background: #4289DC;
                                                                       border-radius: 4px;
                                                                       color: #FFF;
                                                                       font-size: 14px;
                                                                       text-decoration: none;
                                                                       font-weight: 400;
                                                                       padding: 11px 40px;
                                                                       margin-top: 3px;
                                                                       display: inline-block;" rel="noopener"
                                                                       target="_blank">
                                                                       Download file
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%"
                                                           style="background: #F9FAFC;padding: 16px  40px;">
                                                        <tbody>
                                                        <tr style="vertical-align: middle;">
                                                            <td align="center">
                                                                <div style="margin:10px 0;border-bottom:1px solid #E0E6ED;width: 64px;height: 0;"></div>
                                                            </td>
                                                        </tr>
                                                        <tr style="vertical-align: middle;">
                                                            <td align="center">
                                                                <div style="vertical-align: middle;">
                                                                    <p style="font-size: 14px; color: #3C4858;; margin:0 0 5px 0;">
                                                                      If you didn't request this, please ignore this email.
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr style="font-size: 9px; color: #3C4858;">
                        <td style="text-align: center; padding-top: 5px;">
                            <span>Copyright  : <span
                                    style="border-bottom: 1px dashed rgb(204, 204, 204); z-index: 1; position: static;"
                                    t="7" onclick="return false;" data="2014-2018" isout="1"></span>AT</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
      </tbody>
    </table>
</div>
</body>
</html>
